:root {
  --blue-color: #2196f3;
  --logo-black: #000000;
  --white-color: #ffffff;
  --black-color: #212121;
  --grey-color: #757575;
  --footer-grey: #ffffff99;
  --blue-button: #188ce8;
  --hero_footer-background: #2f303a;
  --our-team: #f5f4fa;
}

body {
  font-family: "Roboto";
}
.container {
  width: 1200px;
  outline: solid red;
  padding: 0 15px;
  margin: 0 auto;
}

/* HEADER */

.header-logo {
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: calc(31px / 26px);

  color: var(--logo-black);
}
.accent-blue {
  color: var(--blue-color);
}

.header-nav-link {
  color: var(--black-color);
  line-height: calc(16px / 14px);
  font-size: 14px;
  font-weight: 500;
}

.contact-link {
  color: var(--grey-color);
  line-height: calc(16px / 14px);
  font-size: 14px;
  font-weight: 500;
}
.active {
  color: var(--blue-color);
}

.header {
  width: 1600px;
  margin-bottom: 94px;
}

/* MAIN */

.filter-btn {
  background-color: var(--our-team);
  color: var(--black-color);

  font-size: 16px;
  font-weight: 500;
  line-height: calc(26px / 16px);
}
.active-btn {
  background-color: var(--blue-color);
  color: var(--white-color);
}
/* portfolio  */

.portfolio-title {
  color: var(--black-color);

  font-size: 18px;
  font-weight: 700;
  line-height: calc(36 / 18px);
}
.portfolio-note {
  color: var(--grey-color);

  font-size: 16px;
  font-weight: 400;
  line-height: calc(30px / 16px);
}
.portfolio {
  width: 1600px;
  margin-bottom: 94px;
}

/* FOOTER */

.footer {
  background-color: var(--hero_footer-background);

  width: 1600px;
}
.accent-blue {
  color: var(--blue-color);
}
.footer-logo {
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: calc(31px / 26px);

  color: var(--white-color);
}
.footer-location {
  color: var(--white-color);

  font-size: 14px;
  font-weight: 400;
  line-height: calc(24px / 14px);
}
.footer-contact-link {
  color: var(--footer-grey);

  font-size: 14px;
  font-weight: 400;
  line-height: calc(24px / 14px);
}
