:root {
  --blue-color: #2196f3;
  --web-color2: #000000;
  --black-color: #212121;
  --gray-color: #757575;
}
/* header */
span {
  color: var(--blue-color);
}
.logo {
  color: var(--web-color2);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
}
header {
  display: flex;
  margin: 24px 0px 25px;
  align-items: center;
}
header > a {
  display: flex;
  margin-left: 215px;
}
.nav-item,
.header-item,
.nav-list,
.header-list {
  display: flex;
}

.nav-list {
  margin-left: 92px;
}
.header-list {
  margin-left: 345px;
}
.nav-item:not(:last-child) {
  margin-right: 50px;
}
.header-item:not(:last-child) {
  margin-right: 50px;
}

a {
  text-decoration: none;
}
.nav-link:hover,
.header-link:hover {
  color: var(--blue-color);
}
ul {
  list-style: none;
}
body {
  width: 1600px;
  height: 2346px;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0px;
}
.nav-link {
  color: rgb(33, 33, 33);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
}

.header-link {
  color: rgb(117, 117, 117);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
}
/* hero section */
.hero {
  display: flex;
  width: 1600px;
  height: 600px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero-h1 {
  color: rgb(255, 255, 255);
  font-family: Roboto;
  font-size: 44px;
  font-weight: 900;
  line-height: 60px;

  text-align: center;
  text-transform: uppercase;

  width: 696px;
  height: 120px;
}
.hero-button {
  border-radius: 4px;

  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background: rgb(33, 150, 243);
  color: rgb(255, 255, 255);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 6%;
  padding: 10px 32px;
  margin-top: 35px;
  width: 216px;
  height: 50px;
}
.hero-list {
  margin: 94px 215px;
  display: flex;
  justify-content: center;
}
.hero-item {
  width: 270px;
  height: 98px;
}
.hero-item:not(:last-child) {
  margin-right: 30px;
}
.hero-h5 {
  color: rgb(33, 33, 33);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 3%;
  text-align: left;
  text-transform: uppercase;
}
.hero-p {
  margin-top: 10px;
  color: rgb(117, 117, 117);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 3%;
  text-align: left;
}
/* section2 */
.section2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 94px;
}
.sect2-list {
  display: flex;
}
.sect2-item:not(:last-child) {
  margin-right: 30px;
}
.sect2-h2 {
  color: rgb(33, 33, 33);
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 50px;
}
/* section3 */
article figure {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  background: rgb(255, 255, 255);
}
article,
figure {
  width: 270px;
  height: 368px;
}
figcaption p {
  color: rgb(33, 33, 33);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 3%;
  text-align: center;
}
figcaption + p {
  color: rgb(117, 117, 117);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 3%;
  text-align: center;
}
.sect-3-h2 {
  color: rgb(33, 33, 33);
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 3%;
  text-align: center;
  width: 264px;
  height: 42px;
  margin-bottom: 50px;
}

.section3 {
  background: rgb(245, 244, 250);
  width: 1600px;
  height: 648px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sect3-list {
  display: flex;
  justify-content: center;
}
.sect3-list li:not(:last-child) {
  margin-right: 30px;
}
/* footer */
.address-link {
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
}
.bobrik {
  color: rgb(255, 255, 255);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
}
.footer-logo {
  color: #ffffff;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
}
div {
  background-color: #2f303a;
}
footer > a {
  display: block;
  margin-left: 215px;
  margin-bottom: 20px;
}
footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 1600px;
  height: 252px;
  background-color: #2f303a;
}
.address-item:not(:first-child) {
  margin-top: 9px;
}
address {
  margin-left: 215px;
}
